*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,5,20,-1.5), rgba(1,5,20,-3.5)),url(img/home.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	background-color: cornflowerblue;
}

.navbar{
	width: 88%;
	margin: auto;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;

}

.logo{
	box-shadow: 4px 4px 8px 2px  cornflowerblue;
	background: rgb(28, 18, 23);
	width: 140px;
	cursor: pointer;
	border-radius: 50%;
}

.navbar ul li{

	list-style: none;
	display: inline-block;
	margin: 0 15px;
}

.navbar ul li a{
	color: #fff ;
	text-decoration: none;
	font-size: 20px;
	font-family: Segoe Script;
	transition: 0.5s;
}

.navbar ul li a:hover{
	color: cornflowerblue;
}

@media(max-width: 700px){
	.navbar ul li a{
		display: none;
	}

	.left-col h1{
		margin-left: 6%;
		/*text-align: right;*/
		float: none;
	}
}

.content{
	width: 100%;
	position: absolute;
	top: 40%;
}

.left-col{
	margin-left: 6%;
}

.left-col h1{
	/*text-align: center;*/
	font-size: 30px;
	color: #fff;
	/*line-height: 110px;*/
	float: left ;
}

.left-col h1:hover{
	color: cornflowerblue;
}

.music:hover{
	background: linear-gradient(rgba(4,5,20,-1.5), rgba(1,5,20,-3.5));
}

.right-col{
	color: #fff;
	font-size: 23px;
	text-align: right;
}

.right-col p{
	color: cornflowerblue;
	margin-right: 10%;
	font-family: Segoe Script;

}
/*.right-col p:hover{
	color: cornflowerblue;
	transition: 0.5s;
}*/
.fa-play{
	margin-right: 16%;
	font-size: 50px;
	color: #fff;
}

@media(max-width: 600px){
	#click{
		margin-top: 25%;
		margin-right: 25%;
	}

	.right-col img{
		/* text-align: center; */
		margin-right: 40%;
	}

	.more_song_style{
		margin-right: 15%;
	}
}

.more_song_style p{
	text-decoration: none;
	color: cornflowerblue;
	display: inline-block;
	background: cornflowerblue;
	border: 2px solid cornflowerblue;
	box-shadow: 4px 4px 8px 2px  cornflowerblue;
	background: transparent;
	padding: 8px 13px;
	border-radius: 10%;
	position: relative;
	cursor: pointer;

}

.more_song_style p:hover{
	color: white;
	background: cornflowerblue;
	box-shadow: none;
	border: 2px solid cornflowerblue;
	transition: 0.8s;

}

.play{
	
	border-radius: 50%;
	margin-right: 15%;
}

#icon{
	background: transparent;
	/*width: ;*/
	cursor: pointer;
}

.footer{
	font-size: 20px;
	color: #fff;
	margin-top: 33%;
	text-align: center;
}

@media (max-width: 500px){
	#fotters{
		display: none;
	}
}
.block_cipher{
	color: #fff;
	text-decoration: none;
}

.block_cipher:hover{
	/* transition: 0.5s; */
	color: cornflowerblue;
}

.spotify{
	font-family: Segoe Script;
	text-decoration: none;
	color: #1DB954;
	padding: 8px 12px;
	border: 2px solid #1DB954;
	box-shadow: 4px 4px 8px 2px  #1DB954;
	border-radius: 10%;
	transition: 0.5s
}

.spotify:hover{
	background: #1DB954;
	color: #fff;
	box-shadow: none;
	transition: 0.5s;
}



/* ================================================================= PlayList =================================================================== */

/* ==================== PlayList Contenent ================= */

.first_song{
	background-image: linear-gradient(rgba(2,1,20,-2.5), rgba(3,2,20,-4.5)),url(img/home.jpg);
	/* background: cornflowerblue; */
}
.first_song img{
	text-align: right;
}

.first_song:hover{
	border-radius: 4.5%;
	margin: 15px;
	border: 2px solid cornflowerblue;
	box-shadow: 4px 4px 8px 2px  cornflowerblue;
}


.playlist{
	/* margin: 9%; */
	margin-bottom: 6%;
	margin-top: 9%;
	margin-right: 9%;
	margin-left: 9%;
	border: 2px solid cornflowerblue;
	box-shadow: 4px 4px 8px 6px  cornflowerblue;

}



/* .playlist:hover{
	box-shadow: gray;

} */

.song{
	font-family: Segoe Script;
	margin-left: 4%;
	color: cornflowerblue;
	font-size: 23px;
	float: left;
	margin-top: 3%;
}

@media (max-width: 650px){
	.song{
		margin-top: 7%;
		font-size: 18px;
		/* text-align: center; */
		margin-right: 40%;
	}
}

.play2{
	margin-right: 10%;
	margin-bottom: 1.5%;
	border-radius: 50%;
}

@media (max-width: 650px){
	.play2{
		margin-right: 2%;
		/* margin-left: 76%; */
		margin-bottom: 1.5%;
		border-radius: 50%;
	}
}

#icon2{
	cursor: pointer;
}

#icon3{
	cursor: pointer;
}


#icon4{
	cursor: pointer;
}

#icon5{
	cursor: pointer;
}

#icon6{
	cursor: pointer;
}

#icon7{
	cursor: pointer;
}

#icon8{
	cursor: pointer;
}

#icon9{
	cursor: pointer;
}

#icon10{
	cursor: pointer;
}
#icon11{
	cursor: pointer;
}

#icon12{
	cursor: pointer;
}

#icon13{
	cursor: pointer;
}

/* ================== End PlayList Contenent ==================== */

.spotify_btn{
	text-decoration: none;
	text-align: center;
	margin-top: 3%;
}

.spotify_btn p{
	color: cornflowerblue;
	/* font-family: cursive; */
	font-family: Segoe Script;;
	border-radius: 12%;
	padding: 12px 14px;
	margin-left: 45%;
	text-align: center;
	border: 3px solid cornflowerblue;
	box-shadow: 4px 4px 8px 2px  cornflowerblue;
	background: transparent;
	display: inline-block;
	margin-bottom: 5%;
	transition: 0.5s;
	
}

@media(max-width: 650px){
	.spotify_btn p{
		margin-left: 33.5%;

	}
}

@media(max-width: 375px){
	.spotify_btn p{
		margin-left: 23.5%;

	}
}

.spotify_btn p:hover{
	/* font-size: 3; */
	color: white;
	background: cornflowerblue;
	box-shadow: none;
	transition: 0.5s;
}

/* =========================================================== End PlayList ========================================================= */

/* ========================================================== Contact ============================================================ */

.form{
	/* margin: 5%; */
	border: 2px solid cornflowerblue;
	box-shadow: 4px 4px 8px 2px  cornflowerblue;
	margin-top: 1%;
	/* flex-basis: 48%; */
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 3%;
}

@media (max-width: 650px){
	.form{
		height: 70%;
	}
}


/* .age{
	color: red;
	width: 50%; */
/* } */

.form input, .form textarea{
	width: 70%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 2px solid #ccc;
	color: #fff;
	/* text-align: center; */
	/* margin-top: 1.5%; */
	background: transparent;
	margin-left: 15%;
	box-shadow: 4px 4px 8px 2px  cornflowerblue;
}

.form textarea:hover{
	box-shadow: none;
	transition: 0.5s;
}

.form textarea{
	margin-bottom: 3%;
}

.form input{
	margin-top: 2%;
	/* color: red; */
}

.form input:hover{
	box-shadow: none;
	transition: 0.5s;

}

.block {
	/* text-align: ; */
	font-family: Segoe Script;
	border-radius: 5%;
	display: inline-block;
	text-decoration: none;
	color: white;
	background: #007AFF;
	border: 2px solid #007AFF;
	padding: 12px 30px;
	position: relative;
	margin-left: -45%;
	margin-bottom: 0.5%;
}

@media (max-width: 650px){
	.block{
		display: none;
	}
}
.block2{
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
	display: none;
}

@media (max-width: 650px){
	.block2{
		display: inline-block;
		font-family: Segoe Script;
		border-radius: 5%;
		/* display: inline-block; */
		text-decoration: none;
		color: white;
		background: #007AFF;
		border: 2px solid #007AFF;
		padding: 9px 20px;
		margin-left: 40%;
		margin-bottom: 0.5%;
	}
}


.block:hover {
	background: rgb(32, 107, 247);
}


.gender{
	margin-left: 15%;
	padding: 16px 34px;
	background: transparent;
}
